.main {
  min-height: 100vh;
  background: var(--background);
  color: var(--text-primary);
  width: 100%;
  margin: 8rem 0 2rem 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .content {
    padding: 0 1rem;
  }
} 

@media (max-width: 480px) {
  .content {
   
    margin: 13rem 0 2rem 0;
    padding: 1rem;
  }
}
